# Comments are provided throughout this file to help you get started.
# If you need more help, visit the Docker Compose reference guide at
# https://docs.docker.com/go/compose-spec-reference/

# Here the instructions define your application as a service called "server".
# This service is built from the Dockerfile in the current directory.
# You can add other services your application may depend on here, such as a
# database or a cache. For examples, see the Awesome Compose repository:
# https://github.com/docker/awesome-compose

name: solar-project-ai 

services:
  mongo:
    image: mongo:7.0.12
    volumes:
      - mongo_data:/data/db
    networks:
        - caddy_net 
  server:
    build: 
      context: ./server
      target: production 
    container_name: solar-project-ai-server
    volumes:
      - ./uploads/profile-photos:/app/uploads/profile-photos
    restart: unless-stopped
    networks:
        - caddy_net 
    environment:
      NODE_ENV: production
    env_file: server/.env.production
    depends_on: 
      - mongo

  client:
    build:
      context: ./client
      target: production 
      args:
        VITE_API_URL: https://api.${DOMAIN_NAME}
    container_name: solar-project-ai-frontend
    restart: unless-stopped
    networks:
      - caddy_net 
    env_file: client/.env
    depends_on: 
      - server 

  caddy:
    build:
      context: ./caddy
      dockerfile: Dockerfile
    ports:
      - 80:80
      - 443:443
    environment:
      DOMAIN_NAME: ${DOMAIN_NAME}
    volumes:
      - caddy_data:/data
      - caddy_config:/config
    networks:
      - caddy_net 
    depends_on:
      - server 
      - client

  uptime-kuma:
    image: louislam/uptime-kuma:1
    restart: always
    ports:
    - "3001:3001"
    networks: 
    - caddy_net 
    volumes:
    - ./data:/app/data
    - /var/run/docker.sock:/var/run/docker.sock

volumes:
  mongo_data:
  caddy_data:
  caddy_config:
networks:
  caddy_net:
    driver: bridge 
